$primary: #1A5E29;
$secondary: #37C9C9;
$dark: #10303E; 
$light: #AAAAAA; 
$info: #5CD750;

$font-family-sans-serif: "Poppins", sans-serif !default;
$font-family-serif: "Anton",serif !default;



@import "../node_modules/bootstrap/scss/bootstrap.scss"