@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';


/* Général */
html{
    position: relative;
    min-height: 100%;
}

main{
    margin-bottom: 120px;
}


/* Header */
.logo-nav-bar{
    height: 50px;
    width: auto;
}

.nav-link{
    font-weight: bold;
}


/* Footer */
footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-logo{
    width: 64px;
    height: auto;
}
